#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  --primary-color: #026fa5;
  --secondary-color: #ffffff;
  --text-color: #3f3f3f;
  --soft-line-color: #c4c4c4;
  --profile-background-color: #c8cedb;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --third-color: #253143;
}

body {
  margin: 0;
  /* padding: 0 2em; */
}

/* --- Navbar--- */

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  height: 90px;
  background-color: var(--third-color);
  border-bottom: rgb(36, 48, 68) 0.5px solid;
}
.nav-logo {
  width: 15em;
  margin-left: -3.1em;
}

.nav-content {
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}

.nav-schedule-call {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  border-radius: 0.1em;
  padding: 0.5em 0.7em;
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  transition: color, background-color ease 0.2s;
}

.nav-schedule-call:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.nav-hamburger {
  color: var(--secondary-color);
  background-color: transparent;
  font-size: 1em;
  border: 2px solid var(--soft-line-color);
  border-radius: 0.2em;
}

.nav-hamburger-icon {
  font-size: 1.5em;
  margin-top: 0.2em;
}

.nav-hamburger-icon:hover {
  cursor: pointer;
}

/* ---Nav Menu--- */

.nav-menu {
  background-color: var(--secondary-color);
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  z-index: 800;
  border: 1px solid var(--secondary-color);
  opacity: 1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 100vh;
  transition: top 0.8s ease-in-out;
}

.nav-menu.show {
  opacity: 1;
  top: 9%;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 800;
}

.nav-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Baskervville SC", serif;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.nav-menu-items li {
  padding: 1.25em 0;
  background: url(/assets/NavItemBG.svg), no-repeat;
  background-position: center;
  background-size: 24em;
  text-shadow: 10px 5px 10px rgba(43, 46, 73, 0.432);
}

.nav-menu a {
  text-decoration: none;
  color: var(--third-color);
}

/* --- Hero --- */

.hero-container {
  /* position: relative; */
  height: 50em;
  width: 100%;
  margin: 0;
}

.hero-content {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 4em;
  gap: 5em;
  padding: 1.5em;
}

.hero-profile {
  padding: 0.5em;
  text-align: center;
  color: var(--secondary-color);
  margin-right: 4em;
}

.hero-profile h4 {
  margin-bottom: 0.8em;
  margin-top: 0.2em;
}

.hero-schedule-call {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1em;
  border-radius: 0.2em;
  padding: 0.5em 0.7em;
  background-color: transparent;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

.hero-schedule-call:hover {
  outline-offset: 8px;
  cursor: pointer;
}

.hero-headline {
  margin-top: 10em;
  color: var(--secondary-color);
  display: none;
}

.background-slider {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  height: 100%;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  opacity: 0;
  animation: fade 20s infinite;
}

.bg1 {
  background-image: url(https://photos.zillowstatic.com/fp/ca5418d602180f249ed1cbb4ec0ce113-cc_ft_960.webp);
  animation-delay: 0s;
}
.bg2 {
  background-image: url(https://photos.zillowstatic.com/fp/76e2f4aa5994e061e587704288c232a7-cc_ft_960.webp);

  animation-delay: 4s;
}
.bg3 {
  background-image: url(https://photos.zillowstatic.com/fp/9ce1ceba253db6e66b6ee316a672c99e-cc_ft_960.webp);
  animation-delay: 8s;
}
.bg4 {
  background-image: url(https://photos.zillowstatic.com/fp/b0f9d802ddd7e24d53637c93464e0afe-cc_ft_960.webp);
  animation-delay: 12s;
}
.bg5 {
  background-image: url(https://photos.zillowstatic.com/fp/4e9e6ceab8eebed003b7a39777282cb5-cc_ft_576.webp);
  animation-delay: 16s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* --- Loan Programs --- */

.loan-programs {
  padding-bottom: 6em;
}

.loan-programs > div {
  display: flex;
  flex-direction: column;
  gap: 5em;
}



.loan-programs > div > h4 {
  margin-bottom: 2em;
}

.loan-programs > div > div > img {
  margin-bottom: 2em;
  margin-top: 4em;
  width: 13em;
}

.loan-programs-homepage,
.portfolio-homepage,
.testimonial-homepage {
  margin-bottom: 5em;
}

.testimonials > h1 {
  margin-bottom: 2em;
}

.testimonials > div {
  margin-bottom: 5em;
}

.testimonials > div:last-child {
  margin-bottom: 9em;
}

.testimonials > div > p {
  margin-bottom: 2em;
}

.loan-programs-homepage > p::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  color: red;
  font-style: italic;
}

.loan-programs-homepage > p::first-line {
  font-weight: 600;
}

section > h1 {
  font-family: "Baskervville SC", serif;
  text-transform: uppercase;
  /* text-decoration: underline; */
  line-height: 2em;
  color: var(--third-color);
  margin-bottom: 2em;
  margin-top: 3em;
  background: url(/assets/NavItemBG.svg), no-repeat;
  background-position: center;
  background-size: 32em;
}

hr {
  height: 1px;
  background-color: black;
}

section > a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  border: solid 2px var(--third-color);
  padding: 0.75em 2em;
  color: var(--third-color);
  letter-spacing: 0.2em;
  transition: padding 0.2s ease;
}

p {
  color: var(--third-color);
  font-size: 1.1em;
  margin-bottom: 5em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.85rem;
  word-spacing: 0.06em;
}

.loan-program-features-homepage {
  /* list-style: none; */
  margin-top: 2em;
  margin-right: 2em;
  line-height: 1.5em;
  margin-bottom: 0.3em;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 68, 68);
}

.loan-program-view-details {
  text-decoration: none;
  color: var(--third-color);
  /* border: 3px solid var(--third-color); */
  padding: 0.5em 0.9em;
  border-radius: 0.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.loan-program-view-details:hover {
  cursor: pointer;
}

.loan-icons {
  font-size: 2em;
}

.loan-programs {
  margin: 8em 2em 4em 2em;
}

/* --- Portfolio --- */

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 160px);
  font-size: 1em;
  gap: 0.8em;
  margin-bottom: 5em;
}

.portfolio-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: width 0.2s ease;
}

.portfolio-homepage-links {
  text-decoration: none;
  color: white;
  /* text-shadow: 1px 1px 1px black; */
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio-item-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://photos.zillowstatic.com/fp/76e2f4aa5994e061e587704288c232a7-cc_ft_960.webp");

  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  place-items: center;
  justify-content: center;
}
.portfolio-item-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://photos.zillowstatic.com/fp/ca5418d602180f249ed1cbb4ec0ce113-cc_ft_960.webp");

  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  place-items: center;
  justify-content: center;
}
.portfolio-item-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://photos.zillowstatic.com/fp/9ce1ceba253db6e66b6ee316a672c99e-cc_ft_960.webp");

  object-fit: fill;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  place-items: center;
  justify-content: center;
}
.portfolio-item-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://photos.zillowstatic.com/fp/b0f9d802ddd7e24d53637c93464e0afe-cc_ft_960.webp");

  object-fit: fill;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  place-items: center;
  justify-content: center;
}

/* Testimonial */

.testimonials {
  margin: 8em 2em 4em 2em;
}

.testimonial-quote {
  margin-top: -4em;
}

/* Contact */

.contact > form {
  margin-bottom: 7em;
}

.contact > form > .form-button {
  margin-bottom: -10em;
}

.contact-heading {
  margin-top: 5em;
  font-family: "Baskervville SC", serif;
  text-transform: uppercase;
  /* text-decoration: underline; */
  line-height: 2em;
  color: var(--third-color);
  background: url(/assets/NavItemBG.svg), no-repeat;
  background-position: center;
  background-size: 32em;
}

.contact-homepage {
  margin: -3em 0 11.2em 0;
}

form p {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

/* p > label {
  
} */

p > input {
  border: 1px solid black;
  border-radius: 0.25em;
  width: 30em;
}

.form-button {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  border: solid 2px var(--third-color);
  padding: 0.75em 2em;
  color: var(--third-color);
  letter-spacing: 0.2em;
  margin-bottom: 1em;
  margin-top: 4em;
}

textarea {
  width: 30em;
  height: 20em;
  border: 1px solid black;
  border-radius: 0.25em;
}

.main-content {
  padding: 2em;
}

.articles > div > img {
  width: 20em;
}

@media (max-width: 431px) {
  #root {
    max-width: 431px;
  }

  .nav-header {
    position: fixed;
    height: 90px;
    background-color: var(--third-color);
    background-blend-mode: overlay;
    z-index: 10000;
    border-bottom: rgb(36, 48, 68) 0.5px solid;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* .nav-logo {
    margin-
  } */

  .nav-schedule-call {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 0.1em;
    padding: 0.5em 0.7em;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    transition: color, background-color ease 0.2s;
  }

  p > input {
    border: 1px solid black;
    border-radius: 0.25em;
    width: 20em;
  }

  textarea {
    width: 20em;
    height: 6em;
    border: 1px solid black;
    border-radius: 0.25em;
  }

  .articles > div > img {
    width: 20em;
  }

  .footer {
    background-color: var(--third-color);
    width: 100%;
    /* padding: 0.5em 0; */
  }

  .footer-links {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-link > a {
    color: var(--secondary-color);
  }
}

.footer {
  background-color: var(--third-color);
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  gap: 1em;
  display: flex;
}

.footer-link > a {
  display: block; /* Allow width to be applied */
  width: 100%; /* Fill the .footer-link */
  color: var(--secondary-color);
  text-decoration: none;
}

.articles {
  margin: 8em 4em 2em;
}

.portfolio {
  margin: 8em 2em 8em 1.5em;
}

.portfolio > div > img {
  width: 24em;
}

.portfolio > div > p {
  margin-bottom: 2em;
}

.portfolio > div > h1 {
  margin-top: 2em;
}

.portfolio > div {
  margin-bottom: 6em;
}

.single-portfolio {
  margin-top: 8em;
  margin-bottom: 6em;
  padding: 0 2em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.single-portfolio > p {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.single-portfolio > img {
  width: 20em;
}

.button-all {
}

.all-right-reserved {
  font-size: 1em;
  color: var(--secondary-color);
  margin-bottom: 1em;
}



/* Ipad Pro Styling */

@media (min-width: 820px) {
  .nav-menu {
    background-color: var(--secondary-color);
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    z-index: 800;
    border: 1px solid var(--secondary-color);
    opacity: 1;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    height: 100vh;
    transition: top 0.8s ease-in-out;
  }

  /* .nav-menu.show {
    opacity: 1;
    top: 5%;
    display: flex;
    justify-content: center;
    height: 100vh;
    z-index: 800;
  }

  .nav-menu-items {
    font-size: 3.5em;
    margin-top: 2em;
    gap: -2em;
  } */
  /* 
  .nav-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
  } */

  /* .nav-header {
    height: 10.1em;
  }

  .nav-logo {
    width: 30em;
    margin-right: 5em;
  }

  .nav-schedule-call {
    font-size: 2em;
  }

  .nav-hamburger {
    font-size: 2em;
  } */

  .articles > div > img {
    width: 20em;
  }

  .footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
}

@media (min-width: 1025px) {
  .nav-hamburger {
    display: none;
  }

  .nav-logo {
    margin-bottom: 0.4em;
  }

  .nav-menu-items-2 {
    display: flex;
    list-style: none;
    gap: 1em;
  }

  .nav-menu-items-2 li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 0.9em;
    opacity: 0.65;
    transition: opacity 0.3s ease-in-out;
    padding: 0 0 0.05em 0;
    /* letter-spacing: 0.05em; */
    font-family: "Baskervville SC", serif;
    text-transform: uppercase;
  }

  .nav-menu-items-2 li a:hover {
    opacity: 1;
  }

  .nav-schedule-call {
    display: none;
  }

  .nav-schedule-call-2 {
    border-radius: 0.1em;
    padding: 0.5em 0.7em;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    margin-top: -0.5em;
    opacity: 0.65;
    transition: opacity 0.3 ease;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav-schedule-call-2:hover {
    opacity: 1;
  }

  .nav-content {
    margin-top: 0.5em;
  }

  .nav-menu.show {
    display: none;
  }

  .portfolio-items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }

  .portfolio > h1 {
    margin-bottom: 1.5em;
  }

  .portfolio-items > div > img {
    width: 32em;
    border-radius: 0.33em;
  }

  .portfolio-items > div > p {
    margin-bottom: 2em;
  }

  .portfolio-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 17em);
    height: 26em;
    justify-content: center;
    font-size: 1em;
    gap: 2em;
    margin-bottom: 5em;
  }

  .portfolio-item-1,
  .portfolio-item-2,
  .portfolio-item-3,
  .portfolio-item-4 {
    background-size: cover;
    border-radius: 0.33em;
    transition: transform 0.2s ease;
  }

  .portfolio-item-1:hover,
  .portfolio-item-2:hover,
  .portfolio-item-3:hover,
  .portfolio-item-4:hover {
    transform: translateY(-2em);
  }

  .single-portfolio {
    display: flex;
    justify-content: center;
  }

  .single-portfolio > a {
    margin-top: 0.5em;
  }

  .single-portfolio-gallery {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1em;
    column-gap: 1em;
    border-radius: 0.5em;
  }

  .single-portfolio-gallery > img {
    width: 100%;
    height: 100%;
  }

  .single-portfolio-gallery > img:first-child {
    grid-row: span 2;
    height: 100%;
  }

  .testimonial-homepage > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    border: solid 2px var(--third-color);
    padding: 0.75em 2em;
    color: var(--third-color);
    letter-spacing: 0.2em;
    line-height: 1em;
  }

  .testimonial-homepage > a:hover,
  .portfolio-homepage > a:hover,
  .loan-programs-homepage > a:hover,
  .form-button:hover {
    text-decoration: underline;
  }

  form > p > input {
    width: 50em;
    height: 2em;
  }

  textarea {
    width: 50em;
    height: 20em;
    border: 1px solid black;
    border-radius: 0.25em;
  }

  .articles {
    padding: 0 4em 0 2em;
    margin: 8em 0 10em 2em;
  }
  .articles > div > img {
    width: 70em;
  }

  .articles > div > p:nth-of-type(2) {
    margin-top: -4em;
  }

  .articles > div > p:nth-of-type(2)::first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
    color: red;
    font-style: italic;
  }

  .articles > div > p:nth-of-type(2)::first-line {
    font-weight: bold;
    font-style: italic;
  }

  .articles > div > hr {
    display: none;
  }

  .article-button {
    padding: 2em 8em;
    border-radius: 2em;
  }
}

@media (max-width: 1024px) {
  .nav-schedule-call-2 {
    display: none;
  }

  .nav-menu-items-2 {
    display: none;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
  }

  .nav-logo {
    margin: 0 0.05em 0 -2em;
  }

  .portfolio-items > div > img {
    width: 30em;
    border-radius: 0.33em;
  }

  .portfolio-items > div > p {
    margin-bottom: 2em;
  }

  .portfolio-items > div {
    margin-bottom: 4em;
  }

  .single-portfolio-gallery {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .single-portfolio-gallery > img {
    width: 33em;
    border-radius: 0.33em;
  }

  .nav-menu-items {
    font-size: 1.75rem;
    margin-top: 1.75em;
  }

  .articles {
    display: flex;
    flex-direction: column;
    margin: 8em 2em 2em 2em;
  }

  .articles > h1 {
    margin-bottom: 1.5em;
  }

  .articles > div > img {
    width: 30em;
    border-radius: 0.33em;
  }

  .articles > div > p:nth-of-type(2) {
    margin-top: -4em;
  }

  .articles > div > p:nth-of-type(2)::first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
    color: red;
    font-style: italic;
  }

  .articles > div > p:nth-of-type(2)::first-line {
    font-weight: bold;
    font-style: italic;
  }

  .articles > div > p:nth-of-type(1) {
    text-decoration: underline;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: -0.05em;
    margin-top: -1em;
  }

  .article-button {
    width: 12em;
    border-radius: 10em;
    padding: 1.5em 5em;
    align-self: center;
    margin-top: -3em;
    margin-bottom: 10em;
  }

  .articles > div > hr {
    margin-bottom: 6em;
    margin-top: 6em;
  }

  .articles > div:last-of-type > hr {
    display: none;
  }
}
